ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0; 
}

div.main-wrapper {
    display: grid;
    grid-template-columns: 120px minmax(800px, 100%);
}
button.sidebar-action {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 2px;
}
