:root {
    /* Primary colors */
    --color-primary-white: #FFFFFF;
    --color-primary-bg-lightcream:#fffefa;
    /* --color-primary-sidebar-bg-blue: #0078d4; "The over-used blue" */
    --color-primary-sidebar-bg-blue: #0067b5;
    --color-primary-lines-blue: #2563EB;
    --color-primary-accents-orange: #F59E0B;
    --color-primary-text-darkblue: #1E3A8A;

    /* Supporting colors */
    --color-sup-smalltext-gray: #6B7280;
    --color-sup-hover-lightblue: #bedaff;
    --color-sup-bg-cream: #FDF6E3;
    --color-sup-check-green: #10B981;
    --color-sup-delete-red: #EF4444;
}

body {
    background-color: var(--color-sup-bg-cream);
    color: var(--color-primary-text-darkblue);
}
div.main-wrapper {
    display: grid;
    grid-template-columns: minmax(250px, 300px) minmax(360px, 100%);
    grid-template-rows: minmax(100vh, 100%);
    gap: 10px;
}

/* Sidebar styles */
.sidebar-wrapper {
    border-right: 8px solid var(--color-primary-accents-orange);
    background-color: var(--color-primary-sidebar-bg-blue);
    color: var(--color-primary-white);
    padding-left: 10px;
    padding-top: 20px;
    font-size: 1.2rem;
}
.sidebar-header button.sidebar-action {
    font-weight: 700;
    font-size: 1.6rem;
    background: none;
    letter-spacing: 2px;
}
.sidebar-header {
    display: flex;
}
img.site-logo {
    width: 35px;
}
ul.nav-main-list, ul.nav-sub-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0; 
}
button.sidebar-action {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 0 6px 4px 6px;
    color: inherit;
    letter-spacing: 1px;
}
button.sidebar-action:hover {
    translate: 2px;
    background-color: var(--color-primary-accents-orange);
    border-radius: 8px;
}
#site-title:hover {
    translate: 0;
    background-color: inherit;
}
.nav-sub-item {
    padding-left:18px;
}
.sidebar-nav {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.nav-main-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-sub-list {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
}

/* Card styles */
.main-content {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 15px;
    letter-spacing: 1px;
}
.card-container {
    background-color: var(--color-primary-white);
    /* background-color: var(--color-sup-bg-cream); */
    height: max-content;
    min-width: 150px;
    max-width: 360px;
    border-radius: 6px;
    padding: 0 15px;
    border-left: 2px solid var(--color-primary-accents-orange);
    box-shadow: 1px 2px 3px rgba(197, 127, 8, 0.2);
}
h3.card-project-title {
    margin-top: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: grab;
    letter-spacing: 2px;
    font-weight: 400;
}
h3.card-project-title:active {
    cursor: grabbing;
}
ul.card-task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 6px;
}
.card-task-item {
    display: grid;
    grid-template-columns: 1rem 1fr 5rem;
    gap: 1rem;
    align-items: bottom;
}
.card-actions-container {
    opacity: 0;
}
.card-task-item:hover .card-actions-container {
    opacity: 0.8;
}
a {
    text-decoration: none;
}